<h1>Write Test</h1>
<p>Product name: <%= @product.name %></p>
<p>Purchased by: <%= @user.name %></p>
<p>Quantity: <%= @order.quantity %></p>
<p>Total Price: <%= @order.total_price %></p>
<p>Rating: <%= @review.rating %></p>
<p>Review: <%= @review.content %></p>
